# SPDX-License-Identifier: MIT
name: Lint GitHub Actions workflows

on:
  pull_request:
    branches:
    - main
    paths:
    - '.github/workflows/*.yml'
  push:
    branches:
    - main
    paths:
    - '.github/workflows/*.yml'

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  actionlint:
    name: actionlint
    uses: ffurrer2/shared-workflows/.github/workflows/actionlint.yml@724299c7dfd03410295a94b716eabf9d82e59122
