# SPDX-License-Identifier: MIT
name: Lint GitHub Actions workflows

on:
  pull_request:
    branches:
    - main
    paths:
    - '.github/workflows/*.yml'
  push:
    branches:
    - main
    paths:
    - '.github/workflows/*.yml'

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  actionlint:
    name: actionlint
    uses: ffurrer2/reusable-workflows/.github/workflows/actionlint.yml@d97569953837d175b3a6007b1db029d8f7f3a5cf # v1.1.0
