# SPDX-License-Identifier: MIT
name: CI

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
    paths-ignore:
    - '**.md'
    - '.gitignore'

env:
  GORELEASER_VERSION: '~> v2'
  TASK_VERSION: 3.x

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  local-build:
    name: Local build
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0

    - name: Setup Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: './go.mod'

    - name: Setup Task
      uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
      with:
        version: ${{ env.TASK_VERSION }}
        repo-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup GoReleaser
      uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
      with:
        install-only: true

    - name: Setup cosign
      uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

    - name: Setup container-structure-test
      run: |
        set -euo pipefail
        curl -fsSLo /usr/local/bin/container-structure-test https://storage.googleapis.com/container-structure-test/latest/container-structure-test-linux-amd64
        chmod +x /usr/local/bin/container-structure-test
        container-structure-test version

    - name: Check release config
      run: |
        task goreleaser:check

    - name: Build with GoReleaser
      run: |
        task goreleaser:build

    - name: Create snapshot release
      run: |
        task goreleaser:snapshot

    - name: Build
      run: |
        task build

    - name: Test
      run: |
        task test

  release-dry-run:
    name: GoReleaser release (dry run)
    runs-on: ubuntu-24.04
    permissions:
      actions: read
      checks: write
      contents: read
      id-token: write
      security-events: write
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0

    - name: Setup Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: './go.mod'

    - name: Setup cosign
      uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

    - name: Set environment variables
      run: |
        set -euo pipefail
        echo "SNAPSHOT_VERSION=$(./scripts/version)" >>"${GITHUB_ENV}"
        IMAGE_BASE_NAME="$(sed -nE "/^FROM/ { s/^FROM ([^:]+):([^@]+)@([^ ]+).*$/\1/; p; q; }" build/package/Dockerfile)"
        IMAGE_BASE_TAG="$(sed -nE "/^FROM/ { s/^FROM ([^:]+):([^@]+)@([^ ]+).*$/\2/; p; q; }" build/package/Dockerfile)"
        IMAGE_BASE_DIGEST="$(sed -nE "/^FROM/ { s/^FROM ([^:]+):([^@]+)@([^ ]+).*$/\3/; p; q; }" build/package/Dockerfile)"
        echo "IMAGE_BASE_NAME=${IMAGE_BASE_NAME}:${IMAGE_BASE_TAG}" >>"${GITHUB_ENV}"
        echo "IMAGE_BASE_DIGEST=${IMAGE_BASE_DIGEST}" >>"${GITHUB_ENV}"
        cat "${GITHUB_ENV}"

    - name: Check release config
      uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
      with:
        version: ${{ env.GORELEASER_VERSION }}
        args: check --config build/package/.goreleaser.yaml

    - name: Create snapshot release
      uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
      with:
        version: ${{ env.GORELEASER_VERSION }}
        args: release --config build/package/.goreleaser.yaml --snapshot --skip=publish --clean

    - name: Container structure test (distroless)
      uses: docker://gcr.io/gcp-runtimes/container-structure-test:latest@sha256:377f9a9bc00376b9fa6dc6a3a020dbe40e84ebe9481b71969aa3ff9d1c9ea17e
      with:
        args: 'test --image ghcr.io/ffurrer2/semver:latest --config test/semver_container_test.yml'

    - name: Run Trivy vulnerability scanner (distroless)
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
      with:
        image-ref: 'ghcr.io/ffurrer2/semver:latest'
        exit-code: '1'
        vuln-type: 'os,library'
        severity: 'HIGH,CRITICAL'
        format: 'sarif'
        output: 'trivy-results-distroless.sarif'
        github-pat: '${{ secrets.GITHUB_TOKEN }}'

    - name: Inspect Trivy SARIF report (distroless)
      run: |
        cat trivy-results-distroless.sarif
      if: ${{ !cancelled() }}

    - name: Upload Trivy scan results to GitHub Security tab (distroless)
      uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
      with:
        sarif_file: 'trivy-results-distroless.sarif'
        category: trivy-results-distroless
      if: ${{ !cancelled() }}

    - name: Run Anchore image scanner (distroless)
      uses: anchore/scan-action@3c9a191a0fbab285ca6b8530b5de5a642cba332f # v7.2.2
      id: anchore-distroless
      with:
        image: 'ghcr.io/ffurrer2/semver:latest'
        fail-build: true
        severity-cutoff: high
      if: ${{ !cancelled() }}

    - name: Inspect Anchore SARIF report (distroless)
      run: |
        cat ${{ steps.anchore-distroless.outputs.sarif }}
      if: ${{ !cancelled() }}

    - name: Upload Anchore scan results to GitHub Security tab (distroless)
      uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
      with:
        sarif_file: ${{ steps.anchore-distroless.outputs.sarif }}
      if: ${{ !cancelled() }}
