# SPDX-License-Identifier: MIT
name: 'Dependency Review'

on:
  pull_request:
    branches:
    - main

permissions:
  contents: read

jobs:
  dependency-review:
    name: dependency-review
    uses: ffurrer2/reusable-workflows/.github/workflows/dependency-review.yml@d97569953837d175b3a6007b1db029d8f7f3a5cf # v1.1.0
