# SPDX-License-Identifier: MIT
name: DevSkim

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
  schedule:
  - cron: '0 12 * * 0'

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  devskim:
    name: DevSkim
    uses: ffurrer2/shared-workflows/.github/workflows/devskim.yml@fa78749df7f3f4fddfe44d32992e47dfbc0bab7f
