# SPDX-License-Identifier: MIT
name: DevSkim

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
  schedule:
  - cron: '0 12 * * 0'

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  devskim:
    name: DevSkim
    uses: ffurrer2/reusable-workflows/.github/workflows/devskim.yml@d97569953837d175b3a6007b1db029d8f7f3a5cf # v1.1.0
