# SPDX-License-Identifier: MIT
name: golangci-lint

on:
  pull_request:
    branches:
    - main
    paths:
    - '**.go'
    - '**/golangci-lint.yml'
    - '**/golangci.yml'
    - 'go.mod'
    - 'go.sum'
  push:
    branches:
    - main
    paths:
    - '**.go'
    - '**/golangci-lint.yml'
    - '**/golangci.yml'
    - 'go.mod'
    - 'go.sum'

env:
  # renovate: datasource=github-releases depName=golangci-lint packageName=golangci/golangci-lint versioning=semver
  GOLANGCI_LINT_VERSION: '2.8.0'

jobs:
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: read
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Setup Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: './go.mod'

    - name: golangci-lint
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: v${{ env.GOLANGCI_LINT_VERSION }}
        args: '--issues-exit-code 0 --tests --config .github/linters/.golangci.yml'
