# SPDX-License-Identifier: MIT
name: golangci-lint

on:
  pull_request:
    branches:
    - main
    paths:
    - '**.go'
    - '**/golangci-lint.yml'
    - '**/golangci.yml'
    - 'go.mod'
    - 'go.sum'
  push:
    branches:
    - main
    paths:
    - '**.go'
    - '**/golangci-lint.yml'
    - '**/golangci.yml'
    - 'go.mod'
    - 'go.sum'

env:
  # renovate: datasource=github-releases depName=golangci-lint packageName=golangci/golangci-lint versioning=semver
  GOLANGCI_LINT_VERSION: '2.10.1'

jobs:
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: read
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
      with:
        go-version-file: './go.mod'

    - name: golangci-lint
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: v${{ env.GOLANGCI_LINT_VERSION }}
        args: '--issues-exit-code 0 --tests --config .github/linters/.golangci.yml'
