# SPDX-License-Identifier: MIT
name: golangci-lint

on:
  pull_request:
    branches:
    - main
    paths:
    - '**.go'
    - '**/golangci-lint.yml'
    - '**/golangci.yml'
    - 'go.mod'
    - 'go.sum'
  push:
    branches:
    - main
    paths:
    - '**.go'
    - '**/golangci-lint.yml'
    - '**/golangci.yml'
    - 'go.mod'
    - 'go.sum'

env:
  # renovate: datasource=github-releases depName=golangci-lint packageName=golangci/golangci-lint versioning=semver
  GOLANGCI_LINT_VERSION: '2.6.2'

jobs:
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: read
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Setup Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: './go.mod'

    - name: golangci-lint
      uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
      with:
        version: v${{ env.GOLANGCI_LINT_VERSION }}
        args: '--issues-exit-code 0 --tests --config .github/linters/.golangci.yml'
