# SPDX-License-Identifier: MIT
name: Licensed

on:
  push:
    branches:
    - main
    paths:
    - .github/workflows/licensed.yml
    - .licensed.yml
    - .licenses/**
    - go.mod
    - go.sum

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  LICENSED_VERSION: 5.x

jobs:
  licensed:
    name: Check licenses
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Setup Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: './go.mod'

    - name: Download dependencies
      run: |
        go mod download -x

    - name: Setup Ruby
      uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
      with:
        ruby-version: ruby

    - name: Setup Licensed
      uses: licensee/setup-licensed@0d52e575b3258417672be0dff2f115d7db8771d8 # v1.3.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        version: ${{ env.LICENSED_VERSION }}

    - name: Check Licenses
      run: |
        licensed status
