# SPDX-License-Identifier: MIT
name: markdownlint

on:
  pull_request:
    branches:
    - main
    paths:
    - '**.md'
    - '.github/linters/.markdown-lint.yml'
    - '.github/workflows/markdownlint.yml'
  push:
    branches:
    - main
    paths:
    - '**.md'
    - '.github/linters/.markdown-lint.yml'
    - '.github/workflows/markdownlint.yml'

jobs:
  markdownlint:
    name: markdownlint
    uses: ffurrer2/shared-workflows/.github/workflows/markdownlint.yml@4466ca9ec09217639d17b470609b847c70c3d210
