# SPDX-License-Identifier: MIT
name: yamllint

on:
  push:
    branches:
    - main
    paths:
    - '**.ya?ml'
  pull_request:
    branches:
    - main
    paths:
    - '**.ya?ml'

permissions:
  contents: read

jobs:
  yamllint:
    name: yamllint
    uses: ffurrer2/shared-workflows/.github/workflows/yamllint.yml@4466ca9ec09217639d17b470609b847c70c3d210
